@model DataTransferObjects.ViewModels.HomeViewModel
<div class="contact" id="contact">
    <div class="col-md-12 align-content-center contact-form wow agileits w3layouts fadeInRight animated" data-wow-delay=".5s">
        <h3>За контакти</h3>
        <div class="col-md-6 agileits w3layouts contact-top">
            <form asp-controller="Mail" asp-action="SendMessage">
                <input asp-for="@Model.Message.Name" />
                <span asp-validation-for="@Model.Message.Name" class="text-danger"></span>

                <input asp-for="@Model.Message.Email" />
                <span asp-validation-for="@Model.Message.Email" class="text-danger"></span>

                <input asp-for="@Model.Message.Subject" />
                <span asp-validation-for="@Model.Message.Subject" class="text-danger"></span>

                <textarea asp-for="@Model.Message.Content"></textarea>
                <span asp-validation-for="@Model.Message.Content" class="text-danger"></span>
               
                <label class="hvr-rectangle-out agileits w3layouts">
                    <input type="submit" value="Изпрати">
                </label>
            </form>
        </div>
        <div class="col-md-6 agileits w3layouts contact-left">
            <div class="address agileits w3layouts">
                <div class=" agileits w3layouts address-grid ">
                    <i class="glyphicon agileits w3layouts glyphicon-phone"></i>
                    <div class="address1 agileits w3layouts">
                        <h6>Телефон за контакти:</h6>
                        <p>0897 067 317</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class=" agileits w3layouts address-grid ">
                    <i class="glyphicon agileits w3layouts glyphicon-envelope"></i>
                    <div class="address1 agileits w3layouts">
                        <h6>Email:</h6>
                        <p><a href="mailto:lmirakasabova@gmail.com"> lmirakasabova@gmail.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>