@using Microsoft.AspNetCore.Identity
@using MiraDesign.Models
@inject SignInManager<MiraDesignUser> SignInManager
@inject UserManager<MiraDesignUser> UserManager

@model DataTransferObjects.ViewModels.HomeViewModel
@{ var counter = 0;}
@{ var length = Model.Projects.Count;}

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav wow fadeInDown agileits w3layouts animated" data-wow-delay=".5s">
        <li><a asp-area="" asp-controller="Administrator" asp-action="AddProject" class="btn btn-secondary agileits w3layouts"><span data-hover="Contact">Добави проект</span></a></li>
    </ul>
}
<div class="event" id="events">
    <div class="container">
        <div class="top-event">
            <h3>Проекти </h3>
            <p>
                Представям ви няколко избрани интериорни решения
            </p>
        </div>
        @if (length != 0)
        {
            @for (int i = 0; i < length; i += 4)
            {
                <div class="event-grid ">
                    <div class="event-left wow fadeInLeft animated" data-wow-delay=".5s">
                        <a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id"><img src="@Model.Projects.ToList()[counter].Image400X354" class="img-responsive" alt=""></a>
                        <div class="event-top">
                            <div class="event-gr">
                                <h4><a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id">@Model.Projects.ToList()[counter].Name</a> </h4>
                                <p>@Model.Projects.ToList()[counter].Subname</p>
                            </div>
                        </div>
                    </div>
                    @{counter++;}
                    @if (counter == length)
                    {
                        break;
                    }
                    <div class="event-right wow fadeInRight animated" data-wow-delay=".5s">
                        <a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id"><img src="@Model.Projects.ToList()[counter].Image400X354" class="img-responsive" alt=""></a>
                        <div class="event-top event-top1">
                            <div class="event-gr">
                                <h4><a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id">@Model.Projects.ToList()[counter].Name</a> </h4>
                                <p>@Model.Projects.ToList()[counter].Subname</p>
                            </div>
                        </div>
                    </div>
                    @{counter++;}
                    @if (counter == length)
                    {
                        break;
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="event-grid">
                    <div class="event-left event-left1 wow fadeInRight animated" data-wow-delay=".5s">
                        <a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id"><img src="@Model.Projects.ToList()[counter].Image400X354" class="img-responsive" alt=""></a>
                        <div class="clearfix"></div>
                        <div class="event-top event-t">
                            <div class="event-gr">
                                <h4><a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id">@Model.Projects.ToList()[counter].Name</a></h4>
                                <p>@Model.Projects.ToList()[counter].Subname</p>
                            </div>
                        </div>
                    </div>
                    @{counter++;}
                    @if (counter == length)
                    {
                        break;
                    }
                    <div class="event-right event-right1 wow fadeInLeft animated" data-wow-delay=".5s">
                        <a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id"><img src="@Model.Projects.ToList()[counter].Image400X354" class="img-responsive" alt=""></a>
                        <div class="clearfix"></div>
                        <div class="event-top event-t1">
                            <div class="event-gr">
                                <h4><a asp-area="" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Projects.ToList()[counter].Id">@Model.Projects.ToList()[counter].Name</a></h4>
                                <p>@Model.Projects.ToList()[counter].Subname</p>
                            </div>
                        </div>
                    </div>
                    @{counter++;}
                    @if (counter == length)
                    {
                        break;
                    }
                    <div class="clearfix"></div>
                </div>
            }
        }
    </div>
</div>