@model DataTransferObjects.ViewModels.HomeViewModel
@{ int counter = 0;}
@{ var gallery = Model.Gallery.OrderBy(n => n.Number).Take(7).ToList();}
<div class="portfolio" id="gallery">

    <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
        @for (int i = counter; i < 3; i++)
        {
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModal@(gallery[i].Number)" data-toggle="modal">

                        <img src="@gallery[i].Image550X365" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4> @gallery[i].Name</h4>
                            <p>@gallery[i].Subname</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
            counter++;
        }
        <div class="clearfix"></div>
    </div>
    <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
        @for (int i = counter; i < 7; i++)
        {
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                    <a href="#portfolioModal@(gallery[i].Number)" data-toggle="modal">
                        <img src="@gallery[i].Image550X365" alt="img25" class="img-responsive" />
                        <figcaption>
                            <h4 class="effcet-text">@gallery[i].Name</h4>
                            <p>@gallery[i].Subname</p>
                        </figcaption>
                    </a>
                </figure>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>
@foreach (var modal in @gallery)
{
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal@(modal.Number)" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>@modal.Name</h3>
                        <img src="@modal.Image550X365" class="img-responsive" alt="">
                        <p>
                            @modal.Subname
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}