<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - MiraDesign</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
        <link rel="shortcut icon" href="~/favicon.png" />
        <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <script src="~/js/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Innate Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/move-top.js"></script>
        <script type="text/javascript" src="~/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <script type="text/javascript" src="~/js/modernizr.custom.js"></script>
        <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all">
        <script src="~/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
        <link rel="shortcut icon" href="~/favicon.png" />
        <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <script src="~/js/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Innate Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/move-top.js"></script>
        <script type="text/javascript" src="~/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <script type="text/javascript" src="~/js/modernizr.custom.js"></script>
        <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all">
        <script src="~/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
    </environment>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer agileits w3layouts">
        <div class="footer-class">
            &copy; 2019 - MiraDesign - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <environment include="Development">
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                 };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        @RenderSection("Editor", required: false)
    </environment>
    <environment exclude="Development">
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                 };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        @RenderSection("Editor", required: false)

    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>