@using Microsoft.AspNetCore.Identity
@using MiraDesign.Models
@inject SignInManager<MiraDesignUser> SignInManager
@inject UserManager<MiraDesignUser> UserManager
@model DataTransferObjects.ViewModels.ProjectDetailsViewModel
@{
    ViewData["Title"] = "Project Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{ int counter = 0 % 3;}
@{ var gallery = Model.Images.ToList();}
@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-around modal-header bg-warning text-white ">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary"><i class="glyphicon agileits w3layouts glyphicon-arrow-left"></i> Cancel</a>
        <a asp-area="" asp-controller="Administrator" asp-action="EditProject" asp-route-id="@Model.Id" class="btn btn-sucess"><i class="glyphicon agileits w3layouts glyphicon-edit"> Edit</i></a>
        <a asp-area="" asp-controller="Administrator" asp-action="DeleteProject" asp-route-id="@Model.Id" class="btn btn-danger"><i class="glyphicon agileits w3layouts glyphicon-alert"> Delete</i></a>
    </div>
}
<div class="header agileits w3layouts header-head" id="home">
    <div class="container">
        <div class="head">
            <nav class="navbar agileits w3layouts navbar-default">
                <div class="navbar-header">
                    <button type="button agileits w3layouts" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar agileits w3layouts"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar agileits w3layouts"></span>
                    </button>
                    <div class="navbar-brand agileits w3layouts logo wow fadeInLeft animated" data-wow-delay=".5s">
                        <h1><a asp-area="" asp-controller="Home" asp-action="Index"><span>M<br>I<br>R<br>A<br></span>D<br>E<br>S<br>I<br>G<br>N<br></a></h1>
                    </div>
                </div>
                <div class="collapse navbar-collapse nav-wil agileits w3layouts" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav wow fadeInDown agileits w3layouts animated" data-wow-delay=".5s">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><span data-hover="Home">Начало</span></a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="single agileits w3layouts">
    <div class="container">
        <div class="single-top">
            <img class="img-responsive wow fadeInUp agileits w3layouts animated" src="@Model.Image1280X478" alt="Image" /><br />
            <div class="lone-line">
                <h4>@Model.Subname</h4>
                <p class="wow fadeInLeft agileits w3layouts animated" data-wow-delay=".5s">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.About))
                </p>
            </div>
        </div>
    </div>
</div>
<div class="portfolio" id="gallery">
    @for (int i = 0; i < gallery.Count;)
    {
        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
            @for (int j = 3; j > i % 4; i++)
            {
                if (i < gallery.Count)
                {
                    <div class="col-md-4 grid slideanim">
                        <figure class="effect-jazz">
                            <a href="#portfolioModal@(gallery[i].Id)" data-toggle="modal">
                                <img src="@gallery[i].Link" alt="img25" class="img-responsive" />
                                <figcaption>
                                    <h4 class="effcet-text">@gallery[i].Name</h4>
                                    <p>@gallery[i].About</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                }
                else
                {
                    break;
                }
            }
            @if (i % 7 == 0)
            {
                <div class="col-md-4 grid slideanim">
                    <figure class="effect-jazz">
                        <a href="#portfolioModal@(gallery[i].Id)" data-toggle="modal">
                            <img src="@gallery[i].Link" alt="img25" class="img-responsive" />
                            <figcaption>
                                <h4 class="effcet-text">@gallery[i].Name</h4>
                                <p>@gallery[i].About</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
                i++;
            }
            <div class="clearfix"></div>
        </div>
        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            @for (int k = 7; k > i % 8; i++)
            {
                counter = i % 8;

                if (i < gallery.Count)
                {
                    <div class="col-md-3 grid grid-wi slideanim">
                        <figure class="effect-jazz">
                            <a href="#portfolioModal@(gallery[i].Id)" data-toggle="modal">
                                <img src="@gallery[i].Link" alt="img25" class="img-responsive" />
                                <figcaption>
                                    <h4 class="effcet-text">@gallery[i].Name</h4>
                                    <p>@gallery[i].About</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                }
                else
                {
                    break;
                }
            }
            <div class="clearfix"></div>
        </div>
    }
</div>
@foreach (var modal in gallery)
{
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal@(modal.Id)" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>@modal.Project.Name</h3>
                        <img src="@modal.Link" class="img-responsive" alt="">
                        <p>
                            @modal.Project.Subname
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}